.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: red;
    
}

li{
    list-style-type: none;
    /* background-color: white; */
}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center; /*main axis adjust */
    align-items: center; /*cross section axis */
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    align-self: flex-start; /*align self has higher priority than align item */
}